.single-product {
    width: 300px;
    height: 508px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
}

.single-product img {
    height: 286px;
    width: 286px;
    margin: 7px;
    border-radius: 10px;
}

.product-name {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}
.product-content{
    margin-left: 14px;
}
.product-content p{
    margin-top:5px;
}